body {
    margin: 0.5in;
    font-family: times;
}


/* change background and text color */

* {
    background: #fff;
    color: #000;
    width: auto;
    height: auto;
}


/* hidden menu and footer */

.menu, .footer {
    display: none;
}


/* pick underscore */

a {
    text-decoration: none;
}


/* Added link */

a:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
}